# Should be formatted as https://<hostname> or http://<ip>:<port>
HOST="https://demo.romm.app"
USERNAME="demo"
PASSWORD="demo"
ROMS_STORAGE_PATH=/mnt/SDCARD/Roms

# Controller layout
CONTROLLER_LAYOUT=nintendo

# Download cover images and screenshots
DOWNLOAD_ASSETS=1
FULLSCREEN_ASSETS=1

# Can be one of genre, franchise, collection, mode or company
COLLECTION_TYPE=collection

# Do not display platforms with these slugs (comma separated)
# EXCLUDE_PLATFORMS=""

# Only display collections with these names (comma separated)
# INCLUDE_COLLECTIONS=""

# Do not display collections with these names (comma separated)
# EXCLUDE_COLLECTIONS=""

# Download cover images and screenshots
DOWNLOAD_ASSETS=1
FULLSCREEN_ASSETS=1

# Map RomM slugs to filesystem directories
# For example, if your PlayStation directory is called "psx":
# CUSTOM_MAPS='{"ps": "psx"}'
# CUSTOM_MAPS=''
CUSTOM_MAPS='{"psx": "ps", "nes": "fc", "nes": "fc", "sega32": "sega32x", "genesis": "md", "nes": "fc", "snes": "sfc"}'